@charset "utf-8";
/* CSS Document */
.back-link {
    text-align: left;
    margin-top: 20px;
}

.back-link a {
    color: #0000FF;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}